<template>
  <div class="c-student-select-area" :class="{ 'is-empty': !student }">
    <span v-if="!student">Select a student</span>
    <div v-else="student">
      <div class="o-panel-body is-primary">
        <div class="c-student-info c-student-info--invert">
          <img :src="heroAvatar" :alt="student.name" class="c-student-info-avatar c-student-info-avatar--lg">
          <ul class="c-student-info-details">
            <li class="c-student-info-name">{{ student.name }}</li>
            <li>{{ student.stories.items[0].name }}</li>
            <li>{{ student.stories.items[1].name }}</li>
          </ul>
        </div>
        <a :href="student.ProgrammeName" class="c-button c-button--primary c-button--primary--outline c-button--full-width">Contact student</a>
      </div>
      <StudentProfileCourseList
        :courses="student.comics.items"
      />
    </div>
  </div>
</template>

<script>
import StudentProfileCourseList from './StudentProfileCourseList';

export default {
  name: 'StudentProfile',
  components: {
    StudentProfileCourseList
  },
  props: {
    student: Object,
    courses: Array
  },
  computed: {
    heroAvatar() {
      return `${this.student.thumbnail.path}.${this.student.thumbnail.extension}`;
    }
  }
}
</script>
