<template>
  <button class="c-student-info c-student-info--selectable"
    @click="onStudentSelect">
    <img class="c-student-info-avatar"
      :src="heroAvatar"
      :alt="student.name"/>
    <ul class="c-student-info-details">
      <li class="c-student-info-name">{{ student.name }}</li>
      <li>{{ student.stories.items[0].name }}</li>
      <li>{{ student.stories.items[1].name }}</li>
    </ul>
  </button>
</template>

<script>
export default {
  name: "StudentCard",
  props: {
    student: Object
  },
  methods: {
    onStudentSelect() {
      this.$emit('studentSelected', this.student);
    }
  },
  computed: {
    heroAvatar() {
      return `${this.student.thumbnail.path}.${this.student.thumbnail.extension}`;
    }
  }
};
</script>
