<!--
TODO: Because the data provided is poorly structured AND time is not at disposal,
I had to make this component look like this. I'd refactor the data to make it
a bit less messy to the FE or would create a child component to load those coures
 -->
<template>
  <div>
    <h2 class="c-heading-3 u-font-uppercase u-font-bold u-mb10">{{ course.Key }}</h2>
    <div class="u-mb10">
      <h3 class="c-heading-4 u-font-uppercase u-font-bold u-mb10">Current Courses</h3>
      <button class="c-class-item c-class-item--primary is-uncompleted"
        v-for="course in currentCourses"
        :course="currentCourses"
      >
        <div class="c-class-item-details completed c-class-item-details--light">
          <h3 class="c-class-item-title">{{ course.CourseUnitName }}</h3>
          <ul class="c-class-item-list">
            <li>{{ course.CourseUnitCode }}</li>
            <li>{{ course.CourseUnitCredit }} {{ (course.CourseUnitCredit > 1) ? 'Credits' : 'Credit' }}</li>
            <li>{{ course.CourseEnrolmentCat }}</li>
            <li>{{ course.CourseSession }}</li>
          </ul>
        </div>
        <div v-if="course.Grade" class="c-class-item-score">
          {{ course.Grade }}
        </div>
      </button>
    </div>

    <div class="u-mb20">
      <h3 class="c-heading-4 u-font-uppercase u-font-bold u-mb10">Complete Courses</h3>
      <button class="c-class-item c-class-item--primary is-completed"
        v-for="course in completedCourses"
        :course="completedCourses"
      >
        <div class="c-class-item-details completed c-class-item-details--light">
          <h3 class="c-class-item-title">{{ course.CourseUnitName }}</h3>
          <ul class="c-class-item-list">
            <li>{{ course.CourseUnitCode }}</li>
            <li>{{ course.CourseUnitCredit }} {{ (course.CourseUnitCredit > 1) ? 'Credits' : 'Credit' }}</li>
            <li>{{ course.CourseEnrolmentCat }}</li>
            <li>{{ course.CourseSession }}</li>
          </ul>
        </div>
        <div v-if="course.Grade" class="c-class-item-score">
          {{ course.Grade }}
        </div>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StudentCourseType',
  props: {
    course: Object
  },
  data() {
    return {
      currentCourses: this.course.Value.CurrentCourses,
      completedCourses: this.course.Value.CompletedCourses
    }
  }
}
</script>
