<template>
  <div>
    <input @input="onStudentSearch" class="c-form-text-input has-icon--right" type="text" placeholder="placeholder text">
  </div>
</template>

<script>
export default {
  name: "StudentSearch",
  methods: {
    onStudentSearch(e) {
      this.$emit('studentSearch', e.target.value);
    }
  }
};
</script>
