<template>
  <div class="u-mt20">
    <h2>Appears in: </h2>
    <ul>
      <li v-for="course in courses">{{ course.name }}</li>
    </ul>
  </div>
</template>

<script>
import StudentCourseUnit from './StudentCourseUnit'

export default {
  name: 'StudentProfileCourseList',
  components: {
    StudentCourseUnit
  },
  props: {
    courses: Array
  }
}
</script>
