<template>
  <div data-students>
    <StudentCard
      v-for="student in students"
      :student="student"
      :key="student.SpotId"
      @studentSelected="onStudentSelect"
    />
  </div>
</template>

<script>
import StudentCard from "./StudentCard";

export default {
  name: 'StudentList',
  components: {
    StudentCard
  },
  props: {
    students: Array
  },
  methods: {
    onStudentSelect(student) {
      this.$emit('studentSelected', student);
    }
  }
};
</script>
