<template>
  <div class="u-d-flex u-flex-align-center">
    <h3 class="c-heading-4 u-font-bold u-m0 u-mr10">Year</h3>
    <div class="c-button-group">
      <button class="c-button c-button--quaternary" :class="{ 'is-active': programme === 'all' }" @click="onFilterStudents('all')">All</button>
      <button class="c-button c-button--quaternary" :class="{ 'is-active': programme === '1' }" @click="onFilterStudents(1)">One</button>
      <button class="c-button c-button--quaternary" :class="{ 'is-active': programme === '2' }" @click="onFilterStudents(2)">Two</button>
      <button class="c-button c-button--quaternary" :class="{ 'is-active': programme === '3' }" @click="onFilterStudents(3)">Three</button>
      <button class="c-button c-button--quaternary" :class="{ 'is-active': programme === '4' }" @click="onFilterStudents(4)">Four or more</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "StudentButtonsFilter",
  props: {
    programme: {
      type: [Number, String]
    }
  },
  methods: {
    onFilterStudents(programme) {
      this.$emit('filterSearch', programme);
    }
  }
};
</script>
