<template>
  <div class="u-mt20">
    <div class="row">
      <div class="columns large-12">
        <div class="u-mb10">
          <StudentSearch
            @studentSearch="searchStudents"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">
        <div class="u-mb10">
          <StudentButtonsFilter
            @filterSearch="filterSearch"
            :programme="programme"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <StudentList
          :students="filteredStudents"
          @studentSelected="onStudentSelect"
          />
      </div>
      <div class="large-6 columns">
        <StudentProfile
          :student="selectedStudent"
          :courses="courses"
        />
      </div>
    </div>
  </div>
</template>

<script>
const API_PUBLIC_KEY = 'ed16a6787446ee220332a84588577645';

import axios from "axios";

import StudentSearch from "@/components/StudentSearch";
import StudentButtonsFilter from "@/components/StudentButtonsFilter";
import StudentList from "@/components/StudentList";
import StudentProfile from "@/components/StudentProfile";

export default {
  name: "home",
  components: {
    StudentSearch,
    StudentButtonsFilter,
    StudentList,
    StudentProfile
  },
  data() {
    return {
      selectedStudent: null,
      courses: null,
      filteredStudents: null,
      students: null,
      programme: 'all'
    };
  },
  created() {
    axios
      .get("http://gateway.marvel.com/v1/public/characters", {
        params: {
          apikey: API_PUBLIC_KEY
        }
      })
      .then(response => {
        this.students = response.data.data.results;
        this.filteredStudents = this.students;
      })
      .catch(error => console.log(error));
  },
  methods: {
    searchStudents(searchTerm) {
      const allStudents = this.students;

      this.filteredStudents = allStudents.filter(student => {
        return student.name.toLowerCase().includes(searchTerm.toLowerCase());
      });

      this.searchTerm = searchTerm;
    },
    filterSearch(programme) {
      const allStudents = this.students;

      this.programme = programme;

      if (programme !== 'all') {
        this.filteredStudents = allStudents.filter(student => {
          // Check if choice is smaller than 3
          if (programme <= 3) {
            return student.ProgrammeLevel === parseInt(programme);
          // Otherwise filters based 4 or more
          } else {
            return student.ProgrammeLevel >= parseInt(programme);
          }
        });
      } else {
        return this.filteredStudents = this.students;
      }

      // Set programme to pass which buttons should be highlighted
      this.programme = programme.toString();
    },
    onStudentSelect(student) {
      this.selectedStudent = student;

      // this.courses = student.id
      console.log(student.id);

      // axios
      //   .get("http://localhost:3003/getcourses?spotId=" + student.id)
      //   .then(response => this.courses = response.data.DisplayTerms)
      //   .catch(error => console.log(error));
    }
  }
};
</script>

<style>
@import "./assets/main.css";
</style>
